src/main/resources/ARCOT_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1327908512174" xmlns:ns0="ARCRequestTargetNamespace.xsd" xmlns:ns1="ARCResponseTargetNamespace.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1327908512174">
    <wsdl:types>
        <xs:schema xmlns="ARCResponseTargetNamespace.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ARCResponseTargetNamespace.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="ErrorMessageType">
                <xs:sequence>
                    <xs:element name="ApplicationName" type="xs:string"/>
                    <xs:element name="DateTime" type="xs:string"/>
                    <xs:element name="Status" type="xs:string"/>
                    <xs:element name="ErrorCode" type="xs:string"/>
                    <xs:element name="ErrorDescription" type="xs:string"/>
                    <xs:element name="Trace" type="xs:string" minOccurs="0"/>
                    <xs:element name="Data" type="xs:string" minOccurs="0"/>
                    <xs:element name="Type" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ARCResponse">
                <xs:annotation>
                    <xs:documentation>Comment describing your root element</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Header" minOccurs="0"/>
                        <xs:element name="Body">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="ExceptionDetails" type="ns1:ErrorMessageType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Header">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Version"/>
                        <xs:element ref="ns1:SrvType"/>
                        <xs:element ref="ns1:SrvName"/>
                        <xs:element ref="ns1:SrcApp"/>
                        <xs:element ref="ns1:TargetApp"/>
                        <xs:element ref="ns1:Timestamp"/>
                        <xs:element ref="ns1:SrcMsgId"/>
                        <xs:element ref="ns1:TrackingId"/>
                        <xs:element ref="ns1:OrgId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InstanceId" type="xs:string"/>
            <xs:element name="OrgId" type="xs:string"/>
            <xs:element name="SrcApp" type="xs:string"/>
            <xs:element name="SrcMsgId" type="xs:string"/>
            <xs:element name="SrvName" type="xs:string"/>
            <xs:element name="SrvType" type="xs:string"/>
            <xs:element name="Status" type="xs:string"/>
            <xs:element name="TargetApp" type="xs:string"/>
            <xs:element name="Timestamp" type="xs:string"/>
            <xs:element name="TrackingId" type="xs:string"/>
            <xs:element name="Version" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="ARCRequestTargetNamespace.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ARCRequestTargetNamespace.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="ARCRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Header" minOccurs="0"/>
                        <xs:element ref="ns0:Body"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Body">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:OTPSendReq"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CardNo" type="xs:string"/>
            <xs:element name="Header">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Version"/>
                        <xs:element ref="ns0:SrvType"/>
                        <xs:element ref="ns0:SrvName"/>
                        <xs:element ref="ns0:SrcApp"/>
                        <xs:element ref="ns0:TargetApp"/>
                        <xs:element ref="ns0:Timestamp"/>
                        <xs:element ref="ns0:SrcMsgId"/>
                        <xs:element ref="ns0:TrackingId"/>
                        <xs:element ref="ns0:OrgId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InstanceId" type="xs:string"/>
            <xs:element name="OTPMessage" type="xs:string"/>
            <xs:element name="OTPSendReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:CardNo"/>
                        <xs:element ref="ns0:OTPMessage"/>
                        <xs:element name="Language_Indicator" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrgId" type="xs:string"/>
            <xs:element name="SrcApp" type="xs:string"/>
            <xs:element name="SrcMsgId" type="xs:string"/>
            <xs:element name="SrvName" type="xs:string"/>
            <xs:element name="SrvType" type="xs:string"/>
            <xs:element name="Status" type="xs:string"/>
            <xs:element name="TargetApp" type="xs:string"/>
            <xs:element name="Timestamp" type="xs:string"/>
            <xs:element name="TrackingId" type="xs:string"/>
            <xs:element name="Version" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port name="ArctServicesEndpoint1" binding="tns:ArctServicesEndpoint1Binding">
            <soap:address location="http://localhost:31704/WebService/Service/Service.serviceagent/ArctServicesEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ArctServices">
        <wsdl:operation name="ArctServices">
            <wsdl:input message="tns:NIServicesRequest"/>
            <wsdl:output message="tns:NIServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArctServicesEndpoint1Binding" type="tns:ArctServices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ArctServices">
            <soap:operation style="document" soapAction="/WebService/Service/Service.serviceagent/ArctServicesEndpoint1/ArctServices"/>
            <wsdl:input>
                <soap:body use="literal" parts="Request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Response"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="NIServicesRequest">
        <wsdl:part name="Request" element="ns0:ARCRequest"/>
    </wsdl:message>
    <wsdl:message name="NIServiceResponse">
        <wsdl:part name="Response" element="ns1:ARCResponse"/>
    </wsdl:message>
</wsdl:definitions>